/* Animations */
@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes glow {
    0% {
        text-shadow: none;
    }

    50% {
        text-shadow: 0 0 1vh #0ef;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glowbox {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 1vh #0ef;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes change {
    0% {
        content: "FrontEnd Devloper";
    }

    25% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
        content: "Designer";
    }

    75% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        content: "Content Creator";
    }
}

@keyframes goto {
    0% {
        transform: translateY(-8vw);
        scale: .1;
        opacity: 0;
    }
    50%
    {
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width:1000px) {
    #menu {
        display: none;
    }
}

@media (max-width:1000px) {
    #menu {
        font-size: 4vw;
        scale: 2;
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 1rem 3%;
        background-color: #181b20;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        /* margin: 2rem 0%; */
        padding: 2%;
    }

    .minimap {
        flex-direction: row;
    }
    .skills_graph
    {
        margin-top: 5vh;
        flex-direction: column;
    }
    .skills_img
    {
        display: none;
    }
    .pie
    {
        font: 1px;
        width: 1000px;
    }
}

/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #1f242d;
    color: antiquewhite;
    width: 100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 5vw;
    z-index: 1000;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 10%;
    font-size: .75vw;
    text-align: center;
    text-decoration: none;
    width: 3vw;
}

#myBtn a {
    font-size: 1vw;
}
#myBtn img {

    width: 2vw;
}

#myBtn:hover {

    background-color: #555;
}

#menu {
    font-size: 2vh;
}

section {
    width: 100%;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1vh 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-weight: 700;
    text-decoration: none;
    font-size: 5vh;
    color: white;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
}

.navbar a {
    font-size: 3vh;
    color: white;
    text-decoration: none;
    cursor: default;
    font-weight: 500;
    margin-left: 5vh;
    transition: 0.3s;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
    display: inline-block;
}

.home {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10% 0;
}

.home_content {
    max-width: 600px;
}

.home_content h3 {
    font-size: 2.3vh;
    font-weight: 700;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.home_content h2 {
    font-size: 4vh;
    font-weight: 700;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.home_content h3:nth-of-type(2) {
    margin-bottom: 2.6vh;
}

.home_content h2 span {
    color: #0ef;
}

.home_content h1 {
    font-size: 8vh;
    font-weight: 800;
    margin: -3px 0;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.home_img img {
    width: 20vw;
    opacity: 0;
    animation: zoomIn 2s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 0.2s, 3s;
    border-radius: 50%;
}

.home_img img:hover {
    border-radius: 50%;
    box-shadow: 0 0 2vh #0ef;
    transition: 0.6s ease-in;
}

.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    background-color: transparent;
    border: .1vh solid #0ef;
    border-radius: 50%;
    font-size: 3vh;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease-in;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(.2s*(--i));

}

.social_media a.resume {
    width: 15vh;
    height: 5vh;
    border-radius: 0%;
    font-size: 3vh;
    margin: 5vh 5vw 5vh 0;
    transition: 0.5s ease-in-out;
}

.social_media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 1vh #0ef;
}





/* About */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 10% 0;
    gap: 2rem;
    background-color: #181b20;
}

.about_content {
    max-width: 50vw;
}

.about_content h3 {
    font-size: 2vw;
    font-weight: 700;
    color: #0ef;
}

.about_content h3::after {
    content: "";
    animation: change 12s ease infinite;
}

.about_content h2 {
    font-size: 6vw;
    font-weight: 700;
}

.about_content h3:nth-of-type(2) {
    margin-bottom: 20vh;
}

.about_content h2 span {
    color: #0ef;
}

.about_content h1 {
    font-size: 10vh;
    font-weight: 800;
    margin: -3vh 0;
    opacity: 0;
}

.about_content p {
    font-size: 2vh;
    margin-top: 2vh;
}

.about_img img {
    width: 20vw;
    opacity: 0;
    animation: zoomIn 2s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 0.2s, 3s;
    border-radius: 50%;
    margin-right: 5vw;
}

.about_img img:hover {
    border-radius: 50%;
    box-shadow: 0 0 2vh #0ef;
    transition: 0.6s ease-in;
}

.heading {
    font-size: 4.5vh;
    text-align: left;
}


/* Skills */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 10vw 0;
    gap: 2vh;
}

.upper {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 99vw;
}

.Skills_dis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_graph {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 99vw;
    height: 50vh;
}

.skills_imgs {
    width: 23vw;
    height: 34vh;
}

.skills_imgs img {
    height: 100%;
    width: 5vw;
}

.skills_imgs img:hover {
    scale: 1.1;
    box-shadow: 0 0 1vh #0ef;
    border-radius: 50%;
    transition: 0.5s ease-in;
}

.c_cpp {
    width: 22.5vw;
    height: 10vh;
    margin: .5vw .5vh;
}

.full_stack {
    width: 22.5vw;
    height: 10vh;
    margin: .5vw .5vh;
}

.deg {
    width: 22.5vw;
    height: 10vh;
    margin: .5vw .5vh;
}

.skills_content {
    width: 23vw;
    height: 34.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10wh;
}

.skills_content h1 {
    font-size: 1.5vw;
    height: 11.5vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.skills_content h1 p {

    animation: glow 3s ease-in-out infinite;
    padding: 1vh;
}

.skills_content h1 p:hover {
    box-shadow: 0 0 1vh #0ef;
    transition: 1s;
    cursor: auto;
}

.dbar {
    width: 100%;
    max-width: 45vw;
}

.bar:hover {
    box-shadow: 0 0 1vh #0ef;
}

.pie {
    width: 100%;
    max-width: 22vw;
}

.pie:hover {
    box-shadow: 0 0 1vh #0ef;
}
.skills_img img {
    width: 20vw;
    opacity: 0;
    animation: zoomIn 2s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 0.2s, 3s;
    border-radius: 50%;
}

.skills_img img:hover {
    border-radius: 50%;
    box-shadow: 0 0 2vh #0ef;
    transition: 0.6s ease-in;
}

/* projects */
.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh 10% 0;
    background-color: #181b20;
}

.topicproject {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    margin: 4vw;
}

.topicproject span {
    color: #0ef;
}

.minimap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90vw;
    max-width: 90vw;
}

.img2 img {
    width: 29vw;
    animation: glowbox 3s ease-in-out infinite;
}

.img1 img {
    width: 29vw;
    animation: glowbox 3s ease-in-out infinite;
}

.con {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    width: 25vw;
}

.con a {
    font-size: 4vw;
    text-decoration: none;
    color: #0ef;
    animation: glow 3s ease-in-out infinite;
}

.con p {
    font-size: 1.2vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
}



/* Contact */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10vh 10vw 0;
    gap: 2vh;
}

.headl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact span {

    color: #0ef;
}

.headcon {
    font-size: 5vw;
}

.headcon span {
    color: #0ef;
}

.contacticon {
    justify-content: space-evenly;
}

.contacticon a {
    margin: 2vw;
}

.contacticon a i:hover {
    color: #0ef;
}


.emailcon
{
    width: 42vw;
    height:max-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    margin-right: 12vh;
    border-radius: 5vh 5vh 5vh 5vh;
}
.emailcon p
{
    visibility:hidden;
}
.atrate
{
    font-size: 4vw;
    text-decoration: none;
    color: aliceblue;
    align-items: center;
}
#dise1
{
    align-items: center;
    padding-left: 2vw;
}
#dise2
{
    align-items: center;
    padding-right: 2vw;
}

#msg
{
    animation: slideright 1s ease forwards;  
    position: absolute;
    top:472vh;
    left: 50vw;
    color: #0ef;
}