@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --main-green: #32cd32;
    --main-red: #ff2400;
    --main-blue: #0077ff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 10rem 9% 2rem;
}

.hoverable {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.logo:hover {
    color: var(--main-color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

body {
    background: url('./content/background.svg');
    background-size: cover;
    background-attachment: fixed;
}

.light {
    background: url('./content/backgroundW.svg');
    background-size: cover;
    background-attachment: fixed;
}

.light {
    --bg-color: #ffffff;
    --second-bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #0ef;
}

.greenMode {
    --main-color: #32cd32;
}

.redMode {
    --main-color: #ff2400;
}

.blueMode {
    --main-color: #0077ff;
}

.toggle {
    margin-top: 1rem;
    display: inline-block;
    width: 40px;
    position: relative;
    height: 14px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 2px solid gray;
}

.toggle:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    left: -1px;
    transition: all 0.5s;
}

.checkbox:checked+.toggle::after {
    left: 28px;
}

.checkbox:checked+.toggle {
    background-color: rgb(255, 255, 255);
}

.con:after {
    content: "Light";
    font-size: 2rem;
}

.checkbox:checked+.toggle+.con:after {
    content: "Dark";
}

.checkbox {
    display: none;
}


/* color change css */

.colorGrade {
    margin-left: 4px;
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 2px;
    border: 2px solid #000000;
    width: max-content;
}

.checkbox1,
.checkbox2,
.checkbox3 {
    display: none;
}

.Cswitch1,
.Cswitch2,
.Cswitch3 {
    padding: 2px;
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 1px solid gray;
}

.Cswitch1:after,
.Cswitch2:after,
.Cswitch3:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: all 0.5s;
}

.blue {
    background-color: var(--main-blue);
}

.green {
    background-color: var(--main-green);
}

.red {
    background-color: var(--main-red);
}



.navbar:nth-child(6) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-img img {
    width: 400px;
    box-shadow: 0px 15px 10px var(--main-color);
    background: linear-gradient(var(--bg-color) 50%, var(--main-color));
    animation: float 4s ease-in-out infinite;
}



.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    transition: 0.5s ease;
    border-radius: 5rem;
    cursor: pointer;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* background: var(--second-bg-color); */
}

.about-img img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 0px 15px 10px var(--main-color);
    background: linear-gradient(var(--second-bg-color) 50%, var(--main-color));
    transition: 1s ease;
}

.about-img img:hover {
    transform: scale(1.02);
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}


.about {
    justify-content: space-around;
}

.about-content {
    max-width: 1000px;
    height: 250px;
}

.about-content h3::after {
    content: "";
    animation: change 12s ease infinite;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-graph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skills-box img {
    width: 15rem;
    padding: 0.1rem;

}

.projects h2 {
    margin-bottom: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.projects-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-box img {
    height: 350px;
    transition: 1s ease;
}

.projects-box video {
    width: 100%;
    transition: 1s ease;
}

.projects-box:hover video {
    transform: scale(1.1);
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}

.projects-layer img {
    height: auto;
    max-width: 200px;
    max-height: 100px;
}

.projects-layer h4 {
    font-size: 3rem;
}

.projects-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 10px;
}

.projects-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact h1 {
    /* margin-bottom: 3rem; */
    font-size: 6rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact h1 {
    display: flex;
    align-items: center;
}

.contacticon a {
    font-size: 5rem;
    margin: 10px;
}

#atrate {
    align-content: center;
}

#atrate:hover .dise1 .dise2 {
    visibility: visible;
}


.contact a i:hover {
    color: rgb(1, 42, 45)
}


.swatch {
    display: flex;
    justify-content: end;
    text-align: center;
    height: 352px;
    width: 215px;
    transform: rotate(90deg);
    animation: stop-ani 2s;
}

.swatch:hover .swatch {
    animation: stop-ani 2s;
}

.swatch div {
    width: 60px;
    height: 195px;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-left: solid 3px rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    transform-origin: center 90%;
    display: inline-block;
    backface-visibility: hidden;
    margin-left: -25px;
    transform: rotate(0deg);
}

.swatch i {
    font-size: 30px;
    cursor: pointer;
}

.swatch div:before {
    width: 16px;
    height: 16px;
    content: "";
    background-color: var(--text-color);
    display: inline-block;
    border-radius: 8px;
    bottom: 10px;
    position: absolute;
    margin-left: -8px;
    font-size: large;
}

.div1 {
    background-color: var(--main-color);
    animation: revert-back-1 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.div2 {
    background-color: var(--second-bg-color);
    animation: revert-back-2 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.div3 {
    background-color: var(--main-color);
    animation: revert-back-3 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.div4 {
    background-color: var(--second-bg-color);
    animation: revert-back-4 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.div5 {
    background-color: var(--main-color);
    animation: revert-back-5 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.div6 {
    background-color: var(--second-bg-color);
    animation: revert-back-6 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.div6 h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: rotate(-90deg);
    margin-top: 100px;
    font-size: 4rem;
}

.swatch:hover .div1 {
    animation: swatch-purple-motion 50s cubic-bezier(0.4, 0, 0.2, 1);
}


.swatch:hover .div2 {
    animation: swatch-blue-motion 50s cubic-bezier(0.4, 0, 0.2, 1);
}


.swatch:hover .div3 {
    animation: swatch-green-motion 50s cubic-bezier(0.4, 0, 0.2, 1);
}


.swatch:hover .div4 {
    animation: swatch-yellow-motion 50s cubic-bezier(0.4, 0, 0.2, 1);
}


.swatch:hover .div5 {
    animation: swatch-orange-motion 50s cubic-bezier(0.4, 0, 0.2, 1);
}


.swatch:hover .div6 {
    animation: swatch-red-motion 50s cubic-bezier(0.4, 0, 0.2, 1);
}







.container {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 200px;
    width: 70%;
}

.pacman {
    position: relative;
    background: transparent;
    z-index: 1;
}

.pacman::before,
.pacman::after {
    position: absolute;
    top: -35px;
    display: block;
    border-radius: 50%;
    content: "";
    height: 0px;
    width: 0px;
}

.pacman::before {
    animation: chunk-top 0.5s ease infinite;
    border: 35px solid var(--main-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.pacman::after {
    animation: chunk-bottom 0.5s ease infinite;
    border: 35px solid var(--main-color);
    border-right-color: transparent;
    border-top-color: transparent;
}

.path {
    display: flex;
    justify-content: space-around;
    animation: eating-path 0.5s linear infinite;
    width: 100%;
}

.path::before {
    background: var(--text-color);
    border-radius: 50%;
    content: "";
    height: 1rem;
    width: 1rem;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    background: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    box-shadow: 0 0 10px 5px rgb(82, 132, 135);
}

@keyframes float {
    0% {
        border-radius: 30% 25% 20% 25%;
    }

    20% {
        border-radius: 25% 30% 20% 25%;
    }

    40% {
        border-radius: 20% 25% 30% 25%;
    }

    60% {
        border-radius: 20% 25% 25% 30%;
    }

    80% {
        border-radius: 20% 20% 25% 30%;
    }

    100% {
        border-radius: 30% 25% 20% 25%;
    }
}

@keyframes change {
    0% {
        content: "Developer";
    }

    20% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
        content: "Designer";
    }

    60% {
        transform: scale(0);
    }

    80% {
        transform: scale(1);
        content: "Content Creator";
    }

    100% {
        transform: scale(0);
    }
}

@keyframes stop-ani {
    0% {
        z-index: 1;
    }

    100% {
        z-index: 100;
    }
}

@keyframes revert-back-6 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes revert-back-5 {
    0% {
        transform: rotate(-36deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes revert-back-4 {
    0% {
        transform: rotate(-72deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes revert-back-3 {
    0% {
        transform: rotate(-108deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes revert-back-2 {
    0% {
        transform: rotate(-144deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes revert-back-1 {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes swatch-purple-motion {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes swatch-blue-motion {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(-144deg);
    }

    100% {
        transform: rotate(-144deg);
    }
}

@keyframes swatch-green-motion {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(-108deg);
    }

    100% {
        transform: rotate(-108deg);
    }
}

@keyframes swatch-yellow-motion {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(-72deg);
    }

    100% {
        transform: rotate(-72deg);
    }
}

@keyframes swatch-orange-motion {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(-36deg);
    }

    100% {
        transform: rotate(-36deg);
    }
}

@keyframes swatch-red-motion {
    0% {
        transform: rotate(0deg);
    }

    2% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes chunk-top {

    0%,
    100% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-80deg);
    }
}

@keyframes chunk-bottom {

    0%,
    100% {
        transform: rotate(-40deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

@keyframes eating-path {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-50%);
    }
}


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .emailcon {
        width: 450px;
    }

    .projects-box img {
        height: 350px;
        transition: 1s ease;
    }

    .projects-layer img {
        width: 200px;
        height: auto;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .skills {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .emailcon {
        width: 400px;
    }

    .footer {
        padding: 2rem 3%;
    }

    .projects-box img {
        height: 300px;
        transition: 1s ease;
    }

    .projects-layer img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 210px;
        margin-top: 4rem;
        text-align: center;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 70vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .skills h2 {
        margin-bottom: 3rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-graph {
        flex-direction: column;
    }

    .emailcon {
        width: 400px;
    }

    .emailcon a {
        font-size: 3rem;
    }

    .projects-box img {
        height: 200px;
        transition: 1s ease;
    }

    .projects-layer img,
    .projects-layer h2 {
        display: none;
    }
}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .emailcon {
        width: 350px;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home {
        flex-direction: column;
    }

    .contact from .input-box input {
        width: 100%;
    }

    .projects-box img {
        height: 150px;
        transition: 1s ease;
    }

    .projects-layer img {
        width: 70px;
        height: auto;
    }
}

@media (max-width: 375px) {
    .home-img img {
        width: 210px;
    }

    .about-img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

    .emailcon {
        width: 230px;
    }

    .emailcon a {
        font-size: 2rem;
    }

    .projects-box img {
        height: 100px;
        transition: 1s ease;
    }

    .swatch {
        height: 217px;
        width: 130px;
    }

    .swatch div {
        width: 40px;
        height: 120px;
    }

    .swatch div:before {
        width: 10px;
        height: 10px;
        margin-left: -5px;
    }

    .swatch h2 {
        font-size: medium;
        margin-top: 30px;
    }

    .dpie {
        max-width: 275px;
    }

    .dbar {
        max-width: 275px;
    }

    .contact h1 {
        font-size: xx-large;
    }
}